<ion-content>
  <ion-list lines="none">

    <ion-radio-group (ionChange)="selected()" [(ngModel)]="selectedIds">

      <div *ngFor="let d of data">
        <ion-item-divider>
          <ion-label class="studentName">
            {{ d.name}}
          </ion-label>
        </ion-item-divider>        
        <ion-item *ngFor="let clazz of d.foo">
          <ion-label>
            {{ clazz.description }}
          </ion-label>
          <ion-radio class="classRadio" slot="start" value="{{d.id}},{{clazz.id}}"></ion-radio>
        </ion-item>
      </div>     
    </ion-radio-group>
  </ion-list>

</ion-content>
